@import "palette";

.header {
	font-size: 1.3em;
	margin-bottom:15px;
	width: 100%;
	height: 50px;
	background-color: $headerBg;
	letter-spacing: .05em;
	
	li {
		display: inline;
		margin-left: 20px;
	}

	a {
		text-decoration: none;
		color:$headerFont;
	}
}

#img-preview {
	width:100%;
}

// i took this from here
// http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 40px;
    width: 100%;
}

/////////////////////////////////////////
//
// FIX FOR DATEPICKER in version 0.11.4
// https://github.com/angular/material/issues/5170
//
/////////////////////////////////////////

.md-datepicker-calendar, .md-datepicker-input-mask-opaque{
	background: rgb(255,255,255);
}


.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator{
  background: rgb(33,150,243);
  color: rgb(255,255,255);
  border-color: transparent;
}

.md-calendar-date-selection-indicator:hover{
  background: rgb(224,224,224);
}

.md-calendar-day-header{
  background: rgb(224,224,224);
  color: rgba(0,0,0,0.87);
}

.md-calendar-date-disabled, .md-calendar-month-label-disabled{
	color: rgba(0,0,0,0.26);
}

/////////////////////////////////////////
//
// end fix for datepicker
//
/////////////////////////////////////////


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}


#temp_curve_inputs {
	ul {
		li {
			display: inline;
			margin-right: 3px;
		}
	}
	margin-left: 50px;
}

.temp {
	margin-right: 7px;
}