<!-- add roast -->
<div ng-controller="addRoastCtrl" layout="column" ng-cloak="ng-cloak" flex="80" flex-offset="10" class="md-inline-form">
  <md-content layout-padding="layout-padding">
    <form name="newRoastForm">
      <div layout="layout" layout-sm="column">
        <md-input-container flex="flex">
          <label>Roast Title</label>
          <input ng-model="newRoast.title"/>
        </md-input-container>
        <md-input-container flex="flex">
          <label>Roaster Program</label>
          <input ng-model="newRoast.roaster_program"/>
        </md-input-container>
        <md-checkbox ng-model="newRoast.roaster_warm">Preheated: {{newRoast.roaster_warm}}</md-checkbox>
        <md-datepicker ng-model="newRoast.roastDate" md-placeholder="Roast Date"></md-datepicker>
      </div>
      <div layout="layout" layout-sm="column">
        <md-input-container flex="flex">
          <label>Bean Origin</label>
          <input ng-model="newRoast.bean_origin"/>
        </md-input-container>
        <md-input-container flex="flex">
          <label>Bean Processing Style</label>
          <input ng-model="newRoast.bean_processing"/>
        </md-input-container>
        <md-datepicker ng-model="newRoast.beans_received" md-placeholder="Beans Received"></md-datepicker>
      </div>
      <div layout="layout" layout-sm="column">
        <div flex="flex">Time</div>
        <md-input-container flex="flex">
          <label>Bottom</label>
          <input ng-model="newRoast.time.bottom"/>
        </md-input-container>
        <md-input-container flex="flex">
          <label>Yellow</label>
          <input ng-model="newRoast.time.yellow"/>
        </md-input-container>
      </div>
      <md-button ng-click="addRoast()" class="md-raised md-primary">Submit</md-button>
    </form>
  </md-content>
</div>