html(ng-app="roastLogApp")
	head
		link(rel="stylesheet" href="./css/screen.css")
		link(rel="stylesheet" href="./vendor/nvd3/nv.d3.css")
		<!-- <link rel="stylesheet" href="./vendors/nv.d3.css"> -->
		link(rel="stylesheet" href="./vendor/jquery-ui/themes/smoothness/jquery-ui.css")
		script(src="//use.typekit.net/qbo3cja.js")
		script try{Typekit.load();}catch(e){}
	body(ng-controller="roastLogAppCtrl")
		.outer-container
			.header
				ul
					li
						//
							a(href="#" ng-click="addRoastPanel.show = !addRoastPanel.show") Add New Roast
						a(href="/#/add_roast") Add New Roast
					li
						a(href="/#/") Show All Roasts
			div(ng-view)

		script(src="./vendor/livereload-js/dist/livereload.js")
		script(src="./vendor/ng-file-upload/angular-file-upload-shim.js") 
		script(src="./vendor/jquery/dist/jquery.min.js")
		script(src="./vendor/jquery-ui/jquery-ui.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js")
		script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.min.js")
		script(src="./vendor/ng-file-upload/angular-file-upload.js")
		script(src="./js/ngCoreExt/angular-animate.min.js")
		script(src="./vendor/angular-ui-date/src/date.js")
		script(src="./vendor/d3/d3.js")
		script(src="./vendor/nvd3/nv.d3.js")
		script(src="./vendor/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js")
		script(src="./js/services/CRUDservice.js")
		script(src="./js/directives/directives.js")
		script(src="./js/controllers/controllers.js")
		script(src="./js/app.js")