<!-- add roast -->
.new-roast
	form(name="form" novalidate)
		div
			p
				input(type="text" name="bean" placeholder="Bean" ng-model="newRoast.bean")

			p 
				input(type="text" name="bean" placeholder="Processing Method" ng-model="newRoast.processing")

			p
				input(ui-date ui-date-format="DD, d MM, yy" ng-model="newRoast.roast_date" placeholder="Date")
			
			p
				input(type="text" name="roaster_program" placeholder="Roaster Program" ng-model="newRoast.roaster_program")

			p Roaster Warm:
				input(type="checkbox" name="roaster_warm" value="warm" ng-model="newRoast.roaster_warm")

			p Drop:
				input(type="text" name="temp_at_drop" placeholder="temp" ng-model="newRoast.temp_at_drop")

			p Bottom Out:
				input(type="text" size="8" name="time_at_drop" ng-model="newRoast.time_at_drop")
				input(type="text" name="temp_at_drop" placeholder="temp" ng-model="newRoast.temp_at_drop")

			p Yellow:
				input(type="text" size="8" name="time_to_yellow" ng-model="newRoast.time_to_yellow")
				input(type="text" name="temp_at_yellow" placeholder="temp" ng-model="newRoast.temp_at_yellow")

			p Brown:
				input(type="text" size="8" name="time_to_brown" ng-model="newRoast.time_to_brown")
				input(type="text" name="temp_at_brown" placeholder="temp" ng-model="newRoast.temp_at_brown")

			p 1st Crack Begin:
				input(type="text" size="8" name="time_to_first_crack_start" ng-model="newRoast.time_to_first_crack_start")
				input(type="text" name="temp_at_first_crack_start" placeholder="temp" ng-model="newRoast.temp_at_first_crack_start")

			p 1st Crack End:
				input(type="text" size="8" name="time_to_first_crack_end" ng-model="newRoast.time_to_first_crack_end")
				input(type="text" name="temp_at_first_crack_end" placeholder="temp" ng-model="newRoast.temp_at_first_crack_end")

			p 2nd Crack Begin:
				input(type="text" size="8" name="time_to_second_crack_start" ng-model="newRoast.time_to_second_crack_start")
				input(type="text" name="temp_at_second_crack_start" placeholder="temp" ng-model="newRoast.temp_at_second_crack_start")

			p 2nd Crack End:
				input(type="text" size="8" name="time_to_second_crack_end" ng-model="newRoast.time_to_second_crack_end")
				input(type="text" name="temp_at_second_crack_end" placeholder="temp" ng-model="newRoast.temp_at_second_crack_end")

			p End:
				input(type="text" size="8" name="time_to_second_crack_end" ng-model="newRoast.time_to_second_crack_end")
				input(type="text" name="temp_at_second_crack_end" placeholder="temp" ng-model="newRoast.temp_at_second_crack_end")

			

			p
				textarea(rows="4" cols="50" name="roast_notes" placeholder="Roast Notes" ng-model="newRoast.roast_notes")

			p
				textarea(rows="4" cols="50" name="taste_notes" placeholder="Taste Notes" ng-model="newRoast.taste_notes")

			#temp_curve_inputs
			ul
				li(input type="text" size="2" name="0" placeholder="0" ng-model="newRoast.temp_curve[0]")
				li(input type="text" size="2" name="1" placeholder="1" ng-model="newRoast.temp_curve[1]")
				li(input type="text" size="2" name="2" placeholder="2" ng-model="newRoast.temp_curve[2]")
				li(input type="text" size="2" name="3" placeholder="3" ng-model="newRoast.temp_curve[3]")
				li(input type="text" size="2" name="4" placeholder="4" ng-model="newRoast.temp_curve[4]")
				li(input type="text" size="2" name="5" placeholder="5" ng-model="newRoast.temp_curve[5]")
				li(input type="text" size="2" name="6" placeholder="6" ng-model="newRoast.temp_curve[6]")
			</ul>
			</div>

			//
				div(ng-controller="dfUpload as subCtrl")
					input(type="file" ng-model="subCtrl.imageUpload" ng-file-select="onFileSelect($files)")

			div(ng-controller="dfUpload")
				input(type="file" ng-model='files' ng-file-select="onFileSelect($files)")

			p
				input(ui-date ui-date-format="DD, d MM, yy" ng-model="newRoast.photo_date" placeholder="Date photo taken")

		<!-- addRoast() ADDS THE NEW ROAST -->
		//
			p
				button(ng-click="test()">test</button)
		p
			button(type="submit" ng-click="addRoast()") ADD ROAST