<!-- SHOW ROASTS -->
div(class="roast-list" ng-repeat="roast in roasts")
	div(class="single-roast-card" ng-click="fetchOneRoast(roast._id)")
		.roast-info-container
			a(class='close_button' ng-click="deleteRoast(roast._id)" stop-event='click') &nbsp;
			p(class="roast-date") {{roast.roast_date}}
			p(class="roast-title") {{roast.bean}}
			img(ng-src="{{roast.image_url}}" class="roast-image")

			//
				li
					span(class="temp" ng-repeat="temp in roast.temp_curve") {{temp}}