<!-- single roast detail -->
//- .single-roast-detail
div(layout layout-align="center" ng-controller="viewOneRoastCtrl")
	div(flex='90')
		div(ng-cloak) {{$parent.dateTransform(singleRoast.roastDate)}}
		h3(class="md-headline") {{singleRoast.title}}
		img(ng-src="{{singleRoast.file.url}}")