<!-- single roast detail -->
.single-roast-detail
	p(class="roast-date") {{singleRoast.roast_date}}
	p(class="roast-title") {{singleRoast.bean}}
	img(rst-image-zoom src="{{singleRoast.image_url}}" class="roast-image")